CONFIG_AUDIT=n
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SYSVIPC=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_AUDITSYSCALL=n
CONFIG_NO_HZ=n
CONFIG_CFG80211=n
CONFIG_EFI=n
CONFIG_SWAP=n
CONFIG_WLAN=n
CONFIG_NETCONSOLE=n
CONFIG_SOUND=n
CONFIG_USB_SUPPORT=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_MD=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_HID_SUPPORT=n
CONFIG_ATA=n
CONFIG_X509_CERTIFICATE_PARSER=n
CONFIG_QUOTA=n
CONFIG_ISO9660_FS=n
CONFIG_MSDOS_FS=n
CONFIG_VFAT_FS=n
CONFIG_NFS_FS=n
CONFIG_SECURITY=n
CONFIG_CPU_MITIGATIONS=n
CONFIG_X86_AMD_PSTATE=n
CONFIG_MODVERSIONS=y
